/* -----Modals------ */

.modal-bgd {
  position: fixed;
  background-color: rgba(51, 51, 51, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
  
}

.modal-container {
  position: relative;
  height: 604px;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
  font-size: 16px;
  width: 364px;
  background-color: #ffffff;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 110px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-container h4 {
  font-weight: bold;
  text-align: center;
  color: #2F80ED;
  margin-bottom: 40px;
}

.modal-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-container label {
  font-weight: bold;
  color: #333333;
  width: 100%;
}

.modal-container input {
  width: 100%;
  margin-top: 14px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #4F4F4F;
}

.mail-icon {
  margin-bottom: 35px;
}

.modal-close-button {
  position: absolute;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  top: 30px;
  right: 30px;
}

.email-input-container {
  margin-bottom: 115px;
  height: 115px;
}

.email-error-text {
  color: #EB5757;
  padding-top: 8px;
  display: none;
}

.email-input-container-error .email-error-text {
  display: block;
}

.email-input-container-error input {
  border-bottom: 1px solid #EB5757;
}

.error::placeholder {
  color: #EB5757;
}

/* -----Modal-2------ */

.succ-1, .succ-2 {
  font-weight: bold;
  text-align: center;
  color: #2F80ED;
}

.succ-1, .succ-2 {
  margin-bottom: 32px;
}

.modal-container-success{
  justify-content: center;
}

.success-icon {
  height: 28px;
  width: 28px;
  margin-bottom: 40px;
}

