 body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
 }

 .wrapper {
   display: flex;
   flex-direction: row;
 }

 h1 {
   color: #333333;
 }

 /* ------ Experience Section ------- */

 .experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;   */
}

.my-photo{
  margin-bottom: 25px;
  border-radius: 50%;
  height: 268px;
}

.icons {
  width: 18px;
  height: 18px;
}

.linkedin-icon {
  margin-right: 15px;
}

.experience-description {
  margin: 35px 0;
  text-align: center;
  line-height: 32px;
}

.technologies-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 50px;
}

 .my-projects-link {
   color: #EB5757;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
   text-decoration-line: underline;
 }

 .my-projects-link:hover {
  color: #850D0D;
}

 /* <h1>Я делаю сайты</h1> */ 