 * {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
 }
 
 body {
  font-size: 16px;
  line-height: 24px;
 }

 .wrapper {
   display: flex;
   flex-direction: row;
   padding: 80px;
 }

 h1 {
   color: #333333;
 }

 /* ------ Experience Section ------- */

 .experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;   */
}

.my-photo{
  margin-bottom: 25px;
  border-radius: 50%;
  height: 268px;
}

.icons {
  width: 18px;
  height: 18px;
}

.linkedin-icon {
  margin-right: 15px;
}

.experience-description {
  margin: 35px 0;
  text-align: center;
  line-height: 32px;
}

.technologies-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 50px;
}

 .my-projects-link {
   color: #EB5757;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   text-decoration-line: underline;
 }

 .my-projects-link:hover {
  color: #850D0D;
}


 /* ------ My info Section ------- */

.my-info-section {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.my-name{ 
  font-weight: bold;
  color: #333333;
  margin-bottom: 30px;
}

.my-profession {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #333333;
  margin-bottom: 35px;
}

.my-location-remote{ 
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  background: #2F80ED;
  padding: 5px 15px;
}

.local-rem-last{
  margin-bottom: 100px;
}

.my-description {
  color: #4F4F4F;
  margin-bottom: 15px;
}

.my-skills p {
  font-weight: bold;
  margin-bottom: 15px;
}

.my-skills ul {
  list-style: none;
  padding-left: 18px;
}

.my-skills li {
  color: #4F4F4F;
}
.my-skills li::before {
  content: "•";  
  color: #2F80ED; 
  font-weight: bold; 
  display: inline-block; 
  width: 1.5em; 
  margin-left: -1.1em; 
}
